body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.test-1 {
  background-color: #CCDDE2;
}

.test-2 {
  background-color: #48ACF0;
}

.test-3 {
  background-color: #301A4B;
}

.test-4 {
  color: #80727B;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?ky9gej");
  src: url("../fonts/icomoon.eot?ky9gej#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?ky9gej") format("truetype"), url("../fonts/icomoon.woff?ky9gej") format("woff"), url("../fonts/icomoon.svg?ky9gej#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  color: #fff;
}

.icon-menu:before {
  content: "\e9bd";
}

.icon-linkedin2:before {
  content: "\eaca";
}

.icon-github:before {
  content: "\eab0";
}

.navbar-top-container {
  z-index: 40;
  display: none;
  flex-direction: row;
  background-color: #000000;
  top: 0;
  height: 100px;
  text-align: center;
  justify-content: space-between;
  position: sticky;
  border-left: 5px solid rgba(255, 255, 255, 0.0509803922);
  border-right: 5px solid rgba(255, 255, 255, 0.0509803922);
  border-bottom: 5px solid rgba(255, 255, 255, 0.0509803922);
}
.navbar-top-container a {
  color: #ffffff;
}
.navbar-top-container h2 {
  font-size: 50px;
}

.nav-top-logo {
  text-align: center;
  align-self: center;
  width: 70%;
}

.nav-top-burgermenu {
  display: flex;
  width: auto;
  align-self: center;
  height: 100%;
}
.nav-top-burgermenu span {
  align-self: center;
}

.icon-menu {
  position: relative;
  max-width: 100%;
  color: #80727B;
  padding: 36px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.0509803922);
  font-size: 2rem;
  align-self: center;
  overflow: hidden;
}

.nav-top-burgermenu:hover .icon-menu {
  background-color: rgba(255, 255, 255, 0.1098039216);
}

.icon-menu:active {
  background-color: rgba(255, 255, 255, 0.1098039216);
}

@media (max-width: 767px) {
  .navbar-top-container {
    display: flex;
  }
}

.nav-top-dropdown-menu-container {
  display: none;
  background-color: #301A4B;
  list-style: none;
  z-index: 1;
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
  top: 100px;
  overflow: hidden;
  border: 3px solid #48ACF0;
  border-top: none;
}
.nav-top-dropdown-menu-container ul {
  width: 100%;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.nav-top-dropdown-menu-container li {
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}

.triangle {
  position: relative;
  z-index: 20;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 30px;
  border-color: #48ACF0 transparent transparent transparent;
  transform: rotate(0deg);
  display: none;
  top: 59px;
  right: 61px;
}

#nav-top-burgermenu-nojs:hover + .nav-top-dropdown-menu-container {
  display: flex;
  background-color: #48ACF0;
}

.nav-top-dropdown-menu-container:hover {
  display: flex;
  background-color: #301A4B;
}

.nav-top-dropdown-menu-container a:hover {
  text-decoration: underline;
}

.nav-top-dropdown-menu-container li:hover {
  background-color: #301A4B;
}

.navbar {
  height: 100vh;
  min-height: 100%;
  float: left;
  background-color: #000000;
  z-index: 2;
  margin: 0;
  padding: 0;
  display: none;
  flex-direction: column;
  position: fixed;
  width: 200px;
  color: #ffffff;
}
.navbar a {
  color: #ffffff;
}

.nav-logo {
  text-align: center;
  font-size: 50px;
  border-bottom: 5px solid rgba(255, 255, 255, 0.0509803922);
  border-width: thin;
}

.nav-links ul {
  list-style: none;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 0;
  text-align: center;
}
.nav-links li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.contact-me {
  border-top: 5px solid rgba(255, 255, 255, 0.0509803922);
  border-bottom: 5px solid rgba(255, 255, 255, 0.0509803922);
  border-width: thin;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-socials {
  text-align: center;
  padding-top: 10px;
}

.navbar a:hover {
  text-decoration: underline;
}
.navbar h2 a:hover {
  text-decoration: none;
}

@media (min-width: 768px) {
  .navbar {
    display: flex;
  }
}

.banner-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.banner {
  background-color: #000000;
  background-image: url(../img/heroimg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  text-align: center;
  color: white;
  align-items: center;
  margin: auto;
}

.banner-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}

.banner-content-container {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.scroll-down {
  position: absolute;
  color: white;
  display: flex;
  align-self: center;
  text-align: center;
  margin: auto;
  padding: 0;
  bottom: 0;
}

@media (min-width: 768px) {
  .banner-container {
    width: calc(100% - 200px);
    float: right;
  }
}

.projects-list-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #000000;
  color: #ffffff;
}

.project-container {
  background-color: #000000;
  padding: 5px;
}

.projects-item {
  display: flex;
  background-color: rgba(255, 255, 255, 0.0509803922);
  flex-direction: column;
  padding: 5px;
  padding-top: 20px;
  border-radius: 10%;
}

.placeholder-project {
  display: flex;
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #DBD3D3;
  align-self: center;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  top: 0;
}

.project-img-link {
  display: flex;
  justify-content: center;
  width: 100%;
}

.project-img {
  display: flex;
  max-width: 500px;
  border: 5px solid #48ACF0;
  border-radius: 5px;
}

.project-text {
  text-align: center;
}

.view-project {
  color: #0003ac;
}

.project-languages {
  list-style: none;
  padding: 0;
}

.placeholder-project:hover {
  top: -10px;
  transition: 0, 5s ease;
  border-color: transparent;
}

.view-project:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .projects-list-container {
    width: calc(100% - 200px);
    float: right;
  }
}
@media (min-width: 992px) {
  .projects-list-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 992px) {
  .project-container {
    width: 33.33333333%;
  }
}

.form-section-container {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  color: #ffffff;
  padding-bottom: 20px;
}

.form-paragraph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-list-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 5px;
  background-color: #000000;
}

.forms-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #000000;
  width: 100%;
}
.forms-container div {
  padding: 8px;
}

.form-top {
  width: 50%;
}

.form-bottom {
  width: 100%;
}

.form {
  padding: 5px;
  height: 50px;
  width: 100%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.0509803922);
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.075);
  border: 1px solid rgba(255, 255, 255, 0.0509803922);
  color: #80727B;
}

input:focus {
  outline: 3px solid rgba(255, 255, 255, 0.1098039216);
  box-shadow: 0 0 10px #719ECE;
}

textarea:focus {
  outline: 3px solid rgba(255, 255, 255, 0.1098039216);
  box-shadow: 0 0 10px #719ECE;
}

.form-end {
  height: 100px;
}

.form-btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn-submit {
  padding: 15px;
  width: 250px;
  border: 1px solid rgba(255, 255, 255, 0.0509803922);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.0509803922);
  color: #80727B;
}

.form-control.has-error {
  border-color: #d64541;
}

.alert-danger-active {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 2px;
  display: block;
}

.alert-success {
  color: #155724;
  background-color: #d6f1d8;
  border-color: #d6f1d8;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 2px;
  display: block;
}

.btn-submit:hover {
  background-color: rgba(255, 255, 255, 0.1098039216);
}

@media (min-width: 768px) {
  .form-section-container {
    width: calc(100% - 200px);
    float: right;
    padding-right: 10px;
  }
}
@media (min-width: 992px) {
  .form-section-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 992px) {
  .form-list-container {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .form-paragraph-container {
    width: 20%;
  }
}

@media (min-width: 1200px) {
  .form-end {
    height: 200px;
  }
}

@media (min-width: 992px) {
  .form-btn-container {
    justify-content: left;
    padding-left: 8px;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  height: auto;
  border-top: 5px solid rgba(255, 255, 255, 0.0509803922);
}

.back-to-top {
  position: relative;
  display: flex;
  align-self: center;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 30px;
}

.back-to-top-btn {
  color: #ffffff;
}

.copyright-footer {
  display: flex;
  align-self: center;
  color: #ffffff;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .footer-container {
    width: calc(100% - 200px);
    float: right;
  }
}

.about-me-container {
  background-color: #000000;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 40px;
  text-align: center;
}

.about-me {
  height: auto;
  display: flex;
  flex-direction: column;
  color: #80727B;
  background-color: rgba(255, 255, 255, 0.0509803922);
  padding: 5px;
  border: 5px solid rgba(255, 255, 255, 0.0509803922);
}

.skills-container {
  text-align: center;
  border: 5px solid rgba(255, 255, 255, 0.0509803922);
  background-color: rgba(255, 255, 255, 0.0509803922);
  padding: 5px;
}
.skills-container ul {
  padding: 0;
  list-style: none;
}

.my-info-container {
  text-align: center;
  border: 5px solid rgba(255, 255, 255, 0.0509803922);
  align-self: center;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.0509803922);
  padding: 5px;
}
.my-info-container ul {
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .about-me-container {
    width: calc(100% - 200px);
    float: right;
  }
}

@media (min-width: 1200px) {
  .about-me {
    max-width: 80%;
  }
}

.coding-examples-container {
  background-color: #000000;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 40px;
  text-align: center;
  color: #80727B;
}

.coding-example-subcontainer-1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.0509803922);
  margin: 10px;
  border: 5px solid rgba(255, 255, 255, 0.0509803922);
  padding: 5px;
}
.coding-example-subcontainer-1 a {
  color: #80727B;
}

.coding-img-1 {
  display: flex;
  position: relative;
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.0509803922);
  align-self: center;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  top: 0;
}

.coding-img {
  display: flex;
  width: 300px;
  border: 5px solid rgba(255, 255, 255, 0.0509803922);
  border-radius: 5px;
}

.project-languages {
  list-style: none;
  padding: 0;
}

@media (min-width: 768px) {
  .coding-examples-container {
    width: calc(100% - 200px);
    float: right;
  }
}

.scs-scheme-page-container {
  background-color: #000000;
  min-height: 100vh;
  height: auto;
  margin: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  text-align: center;
  color: #80727B;
}

.section-container {
  background-color: rgba(255, 255, 255, 0.0509803922);
  margin: 10px;
  border: 5px solid rgba(255, 255, 255, 0.0509803922);
  padding: 5px;
}
.section-container a {
  color: #80727B;
}

ul {
  list-style: none;
  padding: 0;
}

.section-container a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .scs-scheme-page-container {
    width: calc(100% - 200px);
    float: right;
  }
}

.typed-cursor {
  align-self: center;
  font-size: 2rem;
}/*# sourceMappingURL=styles.css.map */