// ==========================================================================
//  Banner Styles
// ==========================================================================
.banner-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.banner {
    background-color: #000000;
    background-image: url(../img/heroimg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    text-align: center;
    color: white;
    align-items: center;
    margin: auto;
}

.banner-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
}
.banner-content-container {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.scroll-down {
    position: absolute;
    color: #fff;
    display: flex;
    align-self: center;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    bottom: 0;
    a {
        margin: auto;
        border: 1px solid rgba(255, 255, 255, 0.0509803922);
        border-radius: 5px;
        background-color: #0d0d0d;
        padding: 15px;
        bottom: 0;
        color: #fff;
    }
}

// Hover Effect
.scroll-down:hover {
    a {background-color: #393939;}
}

// Media Queries
.banner-container {
    @media (min-width: 768px) {
        width: calc(100% - 200px);
        float: right;
    }
}