// ==========================================================================
//  Buttons Styles
// ==========================================================================
.pill-button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.html-color {
    background-color: #ff651d;
}

.sass-color {
    background-color: #cc6698;
}

.javascript-color {
    background-color: #f7df22;
}

.php-color {
    background-color: #5a68a5;
}

.laravel-color {
    background-color: #f25045;
}

.tailwind-color {
    background-color: #38bdf8;
}

.csharp-color {
    background-color: #67217a;
}