// ==========================================================================
// Coding Examples Styles
// ==========================================================================
.coding-examples-container {
    background-color: #CCDDE2;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 40px;
    text-align: center;
    color: #80727B;
}



// Media Queries
.coding-examples-container {
    @media (min-width: 768px) {
        width: calc(100% - 200px);
        float: right;
    }
}