// ==========================================================================
// Coding Examples Styles
// ==========================================================================
.coding-examples-container {
    background-color: #000000;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 40px;
    text-align: center;
    color: #80727B;
    min-height: 100vh;
    flex-direction: column;
}

.coding-example-subcontainer-1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff0d;
    margin: 10px;
    border: 5px solid #ffffff0d;
    padding: 5px;
    a {
        color: #80727B;
     }

}

.coding-snippet {
    position: relative;
    right: 205px;
}

.coding-img-1 {
    display: flex;
    position: relative;
    max-width: 200px;
    //height: 300px;
    background-color: #ffffff0d;
    align-self: center;
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
    top: 0;
    border: 5px solid #ffffff0d;
    align-self: center;
}

// .coding-img {
//     display: flex;
//     width: 300px;
//     border: 5px solid #ffffff0d;
//     border-radius: 5px;
// }

.project-languages {
    list-style: none;
    padding: 0;
}

// Media Queries
.coding-examples-container {
    @media (min-width: 768px) {
        width: calc(100% - 200px);
        float: right;
    }
}

.coding-example-subcontainer-1 {
    @media (min-width: 1200px) {
        width: 60%;
        align-self: center;
    }
}

.coding-img-1 {
    @media (min-width: 500px) {
        max-width: 300px;
    }
}

.coding-img-1 {
    @media (min-width: 640px) {
        max-width: 400px;
    }
}

.coding-img-1 {
    @media (min-width: 920px) {
        max-width: 400px;
    }
}

.coding-img-1 {
    @media (min-width: 1260px) {
        max-width: 500px;
    }
}

.coding-img-1 {
    @media (min-width: 1500px) {
        max-width: 700px;
    }
}