// ==========================================================================
//  Footer Styles
// ==========================================================================
.footer-container {
    display: flex;
    background-color: #CCDDE2;
    height: 60px;
    border-top: 5px solid #48ACF0;
}

.back-to-top {
    position: relative;
    display: flex;
    align-self: center;
    text-align: center;
    margin: auto;
    padding: 0;
    font-size: 30px;
}

.back-to-top-btn {
    color: #80727B;
}


// Media Queries
.footer-container {
    @media (min-width: 768px) {
        width: calc(100% - 200px);
        float: right;
    }
}