// ==========================================================================
//  Footer Styles
// ==========================================================================
.footer-container {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    height: auto;
    border-top: 5px solid #ffffff0d;
}

.back-to-top {
    position: relative;
    display: flex;
    align-self: center;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 30px;
}

.back-to-top-btn {
    padding: 15px;
    width: 250px;
    border: 1px solid #ffffff0d;
    border-radius: 5px;
    background-color: #ffffff0d;
    color: #fff;
}

.copyright-footer {
    display: flex;
    align-self: center;
    color: #ffffff;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

// Hover Effect
.back-to-top-btn:hover {
    background-color: #ffffff1c;
}

// Media Queries
.footer-container {
    @media (min-width: 768px) {
        width: calc(100% - 200px);
        float: right;
    }
}