// ==========================================================================
//  Footer Styles
// ==========================================================================
.footer-container {
    display: flex;
    flex-direction: column;
    background-color: #CCDDE2;
    height: auto;
    border-top: 5px solid #48ACF0;
}

.back-to-top {
    position: relative;
    display: flex;
    align-self: center;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    font-size: 30px;
}

.back-to-top-btn {
    color: #80727B;
}

.copyright-footer {
    display: flex;
    align-self: center;
    color: #80727B;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

// Media Queries
.footer-container {
    @media (min-width: 768px) {
        width: calc(100% - 200px);
        float: right;
    }
}