// ==========================================================================
//  Form Styles
// ==========================================================================
.form-section-container {
    display: flex;
    flex-direction: column;
}

// Media Queries
.form-section-container {
    @media (min-width: 768px) {
        width: calc(100% - 200px);
        float: right;
    }
    @media (min-width: 992px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}