// ==========================================================================
//  Form Styles
// ==========================================================================
.form-section-container {
    display: flex;
    flex-direction: column;
    background-color: #CCDDE2;
    color: #80727B;
    padding-bottom: 20px;
}

.form-paragraph-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    align-items: center;
}

.form-list-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 5px;
    background-color: #CCDDE2;
    form {
        padding: 8px;
    }
}

.form-top {
    width: 50%;
}
.form-bottom {
    width: 100%;
}
.form {
    padding: 5px;
    height: 50px;
    width: 100%;
    border-radius: 5px;
}
.form-end {
    height: 100px
}

.form-btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.btn-submit {
    padding: 15px;
    width: 250px;
}

// Media Queries
.form-section-container {
    @media (min-width: 768px) {
        width: calc(100% - 200px);
        float: right;
        padding-right: 10px;
    }
    @media (min-width: 992px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.form-list-container {
    @media (min-width: 992px) {
        width: 80%;
    }
}
.form-paragraph-container {
    @media (min-width: 992px) {
        width: 20%;
    }
}

.form-end {
    @media (min-width: 1200px) {
        height: 200px;
    }
}