// ==========================================================================
// Layout Styles
// ==========================================================================
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

// Color Palette
.navy {
    background-color: #091057;
}
.blue {
    background-color: #024CAA;
}
.orange {
    background-color: #EC8305;
}
.grey {
    color: #DBD3D3;
}


// Test Color Palette

.test-1 {
    background-color: #CCDDE2;
}
.test-2 {
    background-color: #48ACF0;
}
.test-3 {
    background-color: #301A4B;
}
.test-4 {
    color: #80727B;
}