// ==========================================================================
// Layout Styles
// ==========================================================================
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

// Color Palette
.navy {
    background-color: #091057;
}
.blue {
    background-color: #024CAA;
}
.orange {
    background-color: #EC8305;
}
.grey {
    color: #DBD3D3;
}