// ==========================================================================
// Layout Styles
// ==========================================================================
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color-scheme: dark;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

// Color Palette
.navy {
    $background-color1: #000000;
}
.grey {
    $background-color2: #ffffff0d;
}
.orange {
    $background-color3: #EC8305;
}
.text-colour {
    $color-text: #ffffff;
}


// Color Palette

.test-1 {
    background-color: #CCDDE2;
}
.test-2 {
    background-color: #48ACF0;
}
.test-3 {
    background-color: #301A4B;
}
.test-4 {
    color: #80727B;
}