// ==========================================================================
//  Nav Dropdown Menu Styles
// ==========================================================================
.nav-top-dropdown-menu-container {
    display: none;
    background-color: burlywood;
    list-style: none;
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 100px;
    ul {
        width: 100%;
        list-style: none;
        text-align: center;
        padding: 0;
    }
    li {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

// Triangle
.triangle {
    display: inline-block;
    position: relative;
    z-index: 20;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 30px;
    border-color: #48ACF0 transparent transparent transparent;
    transform: rotate(0deg);
    left: 498px;
    display: none;
    top: -20px
 }


// Hover Effect
.nav-top-burgermenu:hover + .nav-top-dropdown-menu-container {
          display: flex;
          .triangle {
            display: inline-flex;
            border-color: #48ACF0 transparent transparent transparent;
          }
            
}

.nav-top-dropdown-menu-container:hover {
        display: flex;
        .triangle {
            display: inline-flex;
            border-color: #48ACF0 transparent transparent transparent;
        }
}


// Media Queries


