// ==========================================================================
//  Nav Dropdown Menu Styles
// ==========================================================================
.nav-top-dropdown-menu-container {
    display: none;
    background-color: #48ACF0;
    list-style: none;
    z-index: 1;
    left: 0;
    right: 0;
    position: absolute;
    width: 100vw;
    top: 100px;
    ul {
        width: 100%;
        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    li {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

// Triangle
.triangle {
    position: relative;
    z-index: 20;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 30px;
    border-color: #48ACF0 transparent transparent transparent;
    transform: rotate(0deg);
    display: none;
    top: 59px;
    right: 61px;
 }


// Hover Effect
#nav-top-burgermenu-nojs:hover + .nav-top-dropdown-menu-container {
          display: flex;
          background-color: #48ACF0;
            
}

.nav-top-dropdown-menu-container:hover {
        display: flex;
        background-color: #48ACF0;
}

.nav-top-dropdown-menu-container {
    a:hover {
        text-decoration: underline;
    }
}

.nav-top-dropdown-menu-container li:hover {
    background-color: #301A4B;
}
// Media Queries


