// ==========================================================================
//  Nav Bar Top Styles
// ==========================================================================
.navbar-top-container {
    display: none;
    flex-direction: row;
    background-color: #CCDDE2;
    height: 100px;
    text-align: center;
    justify-content: space-between;
    position: relative;
    border-left: 5px solid #48ACF0;
    border-right: 5px solid #48ACF0;
    border-bottom: 5px solid #48ACF0;
    a {
        color: #80727B;
    }
    h2 {
        font-size: 50px;
    }
}

.nav-top-logo {
    text-align: center;
    align-self: center;
    width: 70%;
}

.nav-top-burgermenu {
    display: flex;
    width: 30%;
    align-self: center;
    height: 100%;
    span {
        align-self: center;
    }
}

.icon-menu {
    margin-left: 20px;
    max-width: 100%;
    color: #80727B;
    padding: 35px;
    padding-right: 130px;
    padding-left: 50px;
    border-radius: 5px;
    background-color: #48ACF0;
    font-size: 2rem;
    align-self: center;
    overflow: hidden;
}

// Hover effect
.nav-top-burgermenu:hover {
    .icon-menu {
        background-color: #48ACF0;
    }
}

// Media Queries
.navbar-top-container {
    @media (max-width: 767px) {
        display: flex;
    }
}