// ==========================================================================
//  Nav Bar Styles
// ==========================================================================

.navbar {
    height: 100vh;
    min-height: 100%;
    float: left;
    background-color: #CCDDE2;
    z-index: 2;
    border-top: 10px solid #48ACF0;
    margin: 0;
    padding: 0;
    display: none;
    flex-direction: column;
    position: fixed;
    width: 200px;
    border-right: 5px solid #48ACF0;
    color: #80727B;
    a {
        color: #80727B;
    }

}

.nav-logo {
    text-align: center;
    font-size: 50px;
    border-bottom: 5px solid #48ACF0;
}

.nav-links {
    ul {
        list-style: none;
        padding-left: 40px;
        padding-right: 40px;
        margin-left: 0;
        text-align: center;
    }
    li {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.contact-me {
    border-top: 5px solid #48ACF0;
    border-bottom: 5px solid #48ACF0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-socials {
    text-align: center;
    padding-top: 10px;
}

// Hover Effect
.navbar {
    a:hover {
        text-decoration: underline;
    }
    h2 {
        a:hover {
        text-decoration: none;
        }
    }
}


// Media Queries
.navbar {
    @media (min-width: 768px) {
        display:flex
    }
}