// ==========================================================================
//  Nav Bar Styles
// ==========================================================================

.navbar {
    height: 100vh;
    min-height: 100%;
    float: left;
    background-color: #091057;
    z-index: 2;
    border-top: 10px solid #024CAA;
    margin: 0;
    padding: 0;
    display: none;
    flex-direction: column;
    position: fixed;
    width: 200px;
    border-right: 5px solid #024CAA;
    color: #DBD3D3;
    a {
        color: #DBD3D3;
    }
}

.nav-logo {
    text-align: center;
}

.nav-links {
    ul {
        list-style: none;
        padding-left: 40px;
        padding-right: 40px;
        margin-left: 0;
        text-align: center;
    }
    li {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.contact-me {
    border-top: 5px solid #024CAA;
    border-bottom: 5px solid #024CAA;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-socials {
    text-align: center;
    padding-top: 10px;
}

// Media Queries
.navbar {
    @media (min-width: 768px) {
        display:flex
    }
}