// ==========================================================================
// SCS Scheme Styles
// ==========================================================================
.scs-scheme-page-container {
    background-color: #CCDDE2;
    min-height: 100vh;
    height: auto;
    margin: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    text-align: center;
    color: #80727B;
}

.section-container {
    background-color: #301A4B;
    margin: 10px;
    border: 5px solid #48ACF0;
    padding: 5px;
    a {
        color: #80727B;
    }
}

ul {
  list-style: none;  
  padding: 0;
}

// Hover Effect
.section-container {
    a:hover {
        text-decoration: underline;
    }
}

// Media Queries
.scs-scheme-page-container {
    @media (min-width: 768px) {
        width: calc(100% - 200px);
        float: right;
    }
}