// ==========================================================================
// SCS Scheme Styles
// ==========================================================================
.scs-scheme-page-container {
    background-color: #024CAA;
    min-height: 100vh;
    height: auto;
    margin: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    text-align: center;
    color: #DBD3D3;
}

.section-container {
    background-color: #091057;
    margin: 10px;
    border: 5px solid #EC8305;
    padding: 5px;
}


// Media Queries
.scs-scheme-page-container {
    @media (min-width: 768px) {
        width: calc(100% - 200px);
        float: right;
    }
}